body {
    margin: 0px;
    background-color: antiquewhite;
}

.centered {
    margin: 10% auto;
    text-align: center;
    overflow-wrap: normal;
}

input {
    display: block;
    width: 20%;
    margin: 10px auto;
}

button {
    margin-bottom: 10px;
    padding: 5px;
    background-color: rgb(161, 191, 245);
    border-radius: 20%;
    border-color: rgb(161, 191, 245);
}

@media (max-width: 400px) {
    input {
        width: 50%
    }
}

@media (max-width: 1200px) {
    input {
        width: 30%
    }
}

@media (max-width: 800px) {
    input {
        width: 40%
    }
}
